.tableTitle{text-align: center;}

.usersTable{
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    width: 30%;
    margin: auto;
    margin-bottom: 2vh;
    cursor: default;
}

.usersTable th,td{
    padding: 1rem 2rem;
    border: 1px solid black;
    text-align: center;
}
.usersTable th{border: 2px solid black;}

.usersTable__user_active{font-weight: bolder;}

.usersTable__user:hover{
    cursor: pointer;
    background-color: rgb(201, 201, 201);
    color: white;
}

.btnBlock{
    width: 20%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.btnBlock__btn{
    background: none;
    border: 1px solid black;
    padding: 1vh 2vw;
    width: 8vw;
}
.btnBlock__btn:hover:not(:disabled){
    cursor: pointer;
    opacity: 0.6;
}