.tableTitle{text-align: center;}

.usersTable{
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    width: 30%;
    margin: auto;
    cursor: default;
}

.usersTable th,td{
    padding: 1rem 2rem;
    border: 1px solid black;
    text-align: center;
}
.usersTable th{border: 2px solid black;}

.usersTable__user_active{font-weight: bolder;}

.usersTable__user:hover{
    cursor: pointer;
    background-color: rgb(201, 201, 201);
    color: white;
}