*{
    margin: 0px;
    padding: 0px;
}

.footer{
    display: flex;
    margin: 0.25rem;
}

.user{
    width: 20%;
    text-align: center;
    background-color: blueviolet;
    color: white;
    padding: 1rem;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.discount{
    width: 80%;
    padding: 1rem;
    background-color: rgb(118, 4, 224);
    color: white;
    text-align: center;
    cursor: pointer;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bolder;
}
.discount:hover{
    background-color: blueviolet;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.btn-auth{
    height: 100%;
    text-align: center;
    background-color: blueviolet;
    color: white;
    border: none;
    padding: 1rem;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}
.btn-auth:hover{
    background-color: rgb(118, 4, 224);
    border-left: 2px solid white;
    border-right: 2px solid white;
    cursor: pointer;
}
a{
    text-decoration: none;
}