.modal {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: .3s;

    top: -1000px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    
    background: rgba(0, 0, 0, 0.9);

    display: flex;
    justify-content: center;
    align-items: flex-start;

    overflow-y: scroll;
    padding: 60px 15px;
  }
   
  .modal_active {
    position: fixed;
    top: 0;
    visibility: visible;
    opacity: 1;
    transition: .3s;
  }

  .modal__content {
    width: 100%;
    max-width: 30rem;
    padding: 4rem;
    background: #f9f9f9;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 5px 15px black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
   
  .modal__close-button {
    position: absolute;
    right: 0;
    top: 0;

    border: none;
    background: none;
    cursor: pointer;

    height: 2rem;
    width: 2rem;
  }
  .modal__close-button:hover {
    opacity: 0.3;
  }
   
  .modal__title {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 0 0 15px;
  }

  .modal__body{
    width: 100%;
    text-align: center;
  }
  .modal__birthday{
    margin-right: 0.3rem;
    height: 1.5rem;
    padding: 0.2rem 0.5rem;
  }

  /* кнопка модального окна */
  .modal__btn{
    background: none;
    border: 1px solid grey;
    height: 2.2rem;
    width: 6rem;
  }
  /* кнопка модального окна: наведение на активную кнопку */
  .modal__btn:hover:not(:disabled){
    background-color: rgb(223, 223, 223);
    color: white;
    border: 1px solid white;
    cursor: pointer;
  }
   /* кнопка модального окна: нажатие на активную кнопку */
  .modal__btn:active:not(:disabled){
    cursor: default;
  }

  .modal__message{
    margin-bottom: 1rem;
  }